* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  }
a{
  text-decoration: none;
  }
a img {
  border: none;
  }
  
button,
a {
  cursor: pointer;
  color: inherit;
  }
  
textarea {
  resize: none;
  }
  
button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
  }

/*End of CSS reset*/

body{
font-family: 'Zen Maru Gothic', sans-serif;
margin-left: 40px;
margin-top: 40px;
}

section{
  height: 150vh;
  border-bottom: 1px solid green;
}

section.image-holder button{
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  transform: translateX(-50%);
  margin: 40px 0;
  background-color: #70b661;
  font-size: 20px;
  box-shadow: 3px 6px 2px 1px #427437
}
#welcome h1{
  margin: auto;
  margin-top: 5%;
  text-align: center;
  transform: translateX(-5%);
  font-size: 100px;
  font-size: 4vw;
  font-family: 'Cinzel', serif;
}

h2{
  margin: auto;
  width: 50%
}

#about article{
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: auto
}

#services{
  background-position: center center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/21/Sandy_Beach_Waves_%286225153931%29.jpg);
  background-size: cover;
}

#services ul{
  width: 100%;
  max-width: 400px;
  padding: 80px 20px;
  margin: 0px auto;
  list-style: none;
  background-color: rgba(95, 158, 160, 0.5);
}

#services ul li{
  padding-bottom: 20px;
  list-style-type: none;
}

#services ul li h2,
#services ul li p{
  text-align: center;
}

#contact{
  background-color: rgb(247, 190, 117);

}

#contact form{
  width: 100%;
  max-width: 300px;
  padding: 40px 20px;
  margin: auto;
}

#contact input,
#contact label{
  display: block;
  width: 100%;
}

#contact input{
  height: 60px;
  padding: 0 10px;
  margin-bottom: 30px;
  font-size: 20px;
  background-color: white
}

#contact label{
  font-size: 19px;
  padding-bottom: 10px
}

#submit{
  transform: translateX(10%);
  width: 200px;
  height: 60px;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  background-color: #d3bd43;
  font-size: 20px;
  box-shadow: 3px 6px 2px 1px #a89215 
}

section.image-holder{
  height: 100vh;
  overflow: hidden
}

section.image-holder img{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh; 
  object-fit: cover

}

section.background-holder{
  padding: 20px;
  border: 10px solid cornflowerblue;
  background-clip: content-box;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8c/Teahupoo1.jpg);
  background-size: 100%;
  background-color: lightcyan;
}